<div class="container">
    
  <div class="banner">
          <figure>
              <img src="assests/images/banner.jpg" alt>
              <img src="assests/images/1d4731%20(1).jpg" alt>
              <img src="assests/images/7a3ae3.jpg" alt>
              <img src="assests/images/839d7f.jpg" alt>
              <img src="assests/images/ed8701.jpg" alt>
          </figure>
          <div class="scroll">
              <a href="" class="right_arrow"></a>
              <a href="" class="left_arrow"></a>
          </div>
      </div>
      
      
      
      <div class="content">
      <div class="offers">
          <div class="text">
              <div class="h2div"><h2>Small Home Appliances</h2> </div>
              <div class="viewalldiv">
              <a href="" class="viewall">VIEW ALL</a> </div>
          </div>
      </div>
      <div class="products">
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product1.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                      </div>
                  </a>
                  </div>
               <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                     
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                   </div>
                  </a>
                  </div>
                  
                  <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                          </div>
                  </a>
              </div>
              <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
                
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
      </div>
  </div>
     
      <div class="content">
      <div class="offers">
          <div class="text">
              <div class="h2div"><h2>Small Home Appliances</h2> </div>
              <div class="viewalldiv">
              <a href="" class="viewall">VIEW ALL</a> </div>
          </div>
      </div>
      <div class="products">
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product1.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                      </div>
                  </a>
                  </div>
               <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                     
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                   </div>
                  </a>
                  </div>
                  
                  <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                          </div>
                  </a>
              </div>
              <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
                
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
      </div>
  </div>
  
      <div class="feat_brands">
         <h2>Featered Brands</h2>
          <div class="brand_images">
          <div><img src="assests/images/brands4.jpg" alt=""></div>
          <div><img src="assests/images/brands3.jpg" alt=""></div>
          <div><img src="assests/images/brands2.jpg" alt=""></div>
          <div><img src="assests/images/brands1.jpg" alt=""></div>
      </div></div>
      
      
      <div class="content">
      <div class="offers">
          <div class="text">
              <div class="h2div"><h2>Small Home Appliances</h2> </div>
              <div class="viewalldiv">
              <a href="" class="viewall">VIEW ALL</a> </div>
          </div>
      </div>
      <div class="products">
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product1.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                      </div>
                  </a>
                  </div>
               <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                     
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                   </div>
                  </a>
                  </div>
                  
                  <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                          </div>
                  </a>
              </div>
              <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
                
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
      </div>
  </div>
     <div class="content">
      <div class="offers">
          <div class="text">
              <div class="h2div"><h2>Small Home Appliances</h2> </div>
              <div class="viewalldiv">
              <a href="" class="viewall">VIEW ALL</a> </div>
          </div>
      </div>
      <div class="products">
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product1.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                      </div>
                  </a>
                  </div>
               <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                     
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                   </div>
                  </a>
                  </div>
                  
                  <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                          </div>
                  </a>
              </div>
              <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
                
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
      </div>
  </div>
      <div class="feat_brands">
         <h2>Featered Brands</h2>
          <div class="brand_images">
          <div><img src="assests/images/brands4.jpg" alt=""></div>
          <div><img src="assests/images/brands3.jpg" alt=""></div>
          <div><img src="assests/images/brands2.jpg" alt=""></div>
          <div><img src="assests/images/brands1.jpg" alt=""></div>
      </div></div>
      
      
      <div class="content">
      <div class="offers">
          <div class="text">
              <div class="h2div"><h2>Small Home Appliances</h2> </div>
              <div class="viewalldiv">
              <a href="" class="viewall">VIEW ALL</a> </div>
          </div>
      </div>
      <div class="products">
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product1.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                      </div>
                  </a>
                  </div>
               <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                     
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                   </div>
                  </a>
                  </div>
                  
                  <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                          </div>
                  </a>
              </div>
              <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
                
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
      </div>
  </div>
      <div class="content">
      <div class="offers">
          <div class="text">
              <div class="h2div"><h2>Small Home Appliances</h2> </div>
              <div class="viewalldiv">
              <a href="" class="viewall">VIEW ALL</a> </div>
          </div>
      </div>
      <div class="products">
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product1.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                      </div>
                  </a>
                  </div>
               <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                     
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                   </div>
                  </a>
                  </div>
                  
                  <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> <img src="assests/images/product2.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                          </div>
                  </a>
              </div>
              <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
                
                <div class="prod">
                  <a href="">
                      <div class="prod_box">
                          <div class="images"> 
                          <img src="assests/images/frig.jpeg" alt=""> </div>
                      
                      <div class="description">
                          <h4>Voltas 1.5 Ton 5 Star Split AC</h4> <span>5 Yr Warranty</span>
                          <br> <i class="fa fa-inr" area-hidden="true"></i> 29,990 <del>46,290</del> </div>
                  </div>
                  </a>
                </div>
      </div>
  </div>
  </div>